numpy==2.0.2
pandas==2.2.3
scikit-learn==1.5.2
scipy==1.14.1
matplotlib==3.9.2
torch==2.4.1+cu124
PyQt5==5.15.6
opencv-python==4.10.0.84
pyyaml==6.0.2
ultralytics==8.3.165
deep-sort-realtime==1.3.2
tqdm==4.67.1
einops==0.8.1
optuna==3.8.0

# intel XPU加速才需要
onnx==1.15.0                
onnxruntime==1.17.3         
